:root {
    --font-size: 1vw;
     --color-primary: #bb1b47;
     --color-orange: #ff6600;
     --border-radius: 5px; /* Standard border radius */
}



html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(var(--font-size)+ 15px);
    line-height: 1.6;
}

header {
    font-size: calc(var(--font-size)* 5);
    background-image: linear-gradient(90deg pink, orange, blue);
    background-clip: text;
    color: transparent;
    text-transform: capitalize;
    font-weight: regular;
    letter-spacing: .1rem;
    font-size: 3rem;
}

h1, h2,h3 {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: calc(var(--font-size)* 5);
    background-image: linear-gradient(90deg, blue, orange, pink);
    background-clip: text;
    color: transparent;
    text-transform: capitalize;
    font-weight: regular;
    letter-spacing: .1rem;
    font-size: 3rem;
}

h2 {
    font-size: calc(var(--font-size) * 2); 
    color:rgb(255, 231, 151);
}

h3 {
    font-size: calc(var(--font-size) * 2); 
    background-image: linear-gradient(90deg, green, blue, purple);
    background-clip: text;
    color: transparent;
}

.site-intro {
    font-size: 1.25rem;
}




nav {
    background-image: linear-gradient(90deg, pink, orange, red);
}

nav ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 100px; /* Set a height for the nav to vertically center items */
}

nav ul li {
    display: inline; /* Display list items inline */
    margin: 0 20px; /* Add some horizontal spacing between items */
}




nav a:link, nav a:visited {
    color: blue;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px; /* Adjust padding for bigger buttons */
    font-size: 1.2em; /* Increase font size */
}

nav a:visited {
    color: purple;
}

nav a:hover {
    color: red;
    text-decoration: underline;
}

nav a:active {
    color: green;
}

nav a:focus {
    outline: 2px solid orange;
}

nav ul::before {
    content: "\1F38d";
    font-size: 3rem;
    content: "\1F338";
}



h2::before {
    content: "\1F38d";
    font-size: 2rem;
}



.signif-design li {
    margin-bottom: 5px; /*add space between list items*/
    list-style-type:"\1F38d" ;
    text-indent: .5rem;
}

.signif-design li ul {
list-style-type: circle; /*style for the nested list */
margin-top: 5px;
padding-left: 20px;

}



li {
    margin-bottom: 5px;
}

/* End of Challenge Style CSS */