css / styles.css
/* Challenge Style CSS */

#update-section {
    background-color: #f0f8ff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.note {
    font-size: 0.9rem;
    color: #555;
    font-style: italic;
    margin-top: 5px;
}

.link {
   color: blue;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}